<h2>Task</h2>
<%# <br> %>
<div class="task-item task-show-look">
    <p>Title:</p>
    <h3><%= @task.name %></h3>
</div>

<div class="task-item task-show-look">
    <p>Content:</p>
    <h3><%= @task.content %></h3>
</div>

    



