<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>
<% if notice %>
    <p class="alert"><%= alert %></p>
<% end %>

<h2>All</h2>



<% @categories.each do |category| %>
    <p class="task-category-all-page"><%= category.name %></p>

    <% category.tasks.each do |task| %>
        <p class="task-item"><%= task.name %></p>
    <% end %>


<% end %>




