/* application css */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body{
    max-width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: #181818;
}

a{
    color: #181818;
    text-decoration: none;
}

.container{
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: 1fr; */
    
}

.left-container{
    background-color: #eeeeee;
    border-right: 2px solid #d1d1d1;
    /* height: 100%; */
}

.right-container{
    background-color: #9146ff;
    padding: 10px 50px;
}

.left-container h1{
    font-size: 1.2rem;
}

.left-container h1, .left-container p{
    padding: 10px 20px;
}

.left-container p:hover{
    background-color: #ffffff;
}

.right-container h2{
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 10px;
}

.task-item{
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 3px;
    background-color: #ffffff;
}

.task-item:hover{
    background-color: #eeeeee;
}

.task-show-look:hover{
    background-color: #ffffff;
}

